.submenu {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: white;
  text-align: center;
  width: 100%;
}

.submenu .sub-li {
  display: flex;
  align-content: center;
  justify-content: center;
}

.submenu li a {
  padding: 10px 15px;
}

.drp-li:hover>.submenu {
  display: block;
}

.sub-li>ul {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: white;
  text-align: center;
  width: 100%;
}

.sub-li:hover>ul {
  display: block;
}