.social-btn button.active {
  background-color: blue;
  border: none;
  color: white;
}

.success {
  color: rgb(9, 255, 0);
}

.fail {
  color: red;
}

.output_image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

form .display_none {
  display: none;
}

.width_100 {
  width: 100%;
}

.border_none {
  border: none;
}

.total-price-disable {
  position: unset;
  width: auto;
  left: auto;
}

.custom_table {
  position: relative;
  width: 500px;
  margin-left: auto;
}