.output_image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.success {
  color: rgb(9, 255, 0);
}

.fail {
  color: red;
}

.display-hidden {
  display: none;
}

.border_none {
  border: none;
}

.display-flex {
  display: flex;
}

.display-inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.custom-input:focus {
  outline: none;
}

.select2-container--default .select2-selection--single {
  height: auto;
  padding: 5px;
}
